html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



html {
  font-family: 'Poppins', sans-serif;
 }
 
body {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  overflow: hidden;
}

 .top {
   height: 65px;
   width: 100vw;
   display: flex;
   justify-content: space-around;
   background: black;
 }
 
 .words {
   padding-top: 15px;
   text-transform: uppercase;
   margin-right: 50%;
   color: white;
 }
 
 .title {
   font-size: 3rem;
   font-weight: 700;
   padding-bottom: 0%;
 }
 
 .subtitle {
   padding-top: 10px;
   padding-left: 15px;
   font-size: 1.5rem;
   font-weight: 600;
   font-style: italic;
   color: black;
 }
 
 .textedit {
   color: #B82420;
 }
 
 .navbar {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   width: fit-content;
   height: 100px;
   margin-top: 130px;
   padding-right: 10px;
   gap: 15%;
   float: right;
   text-align: right;
 }
 
 .navlink {
   font-size: 2.5rem;
   text-decoration: none;
   color: white;
 }
 
 #picture {
   background-image: url("https://images.unsplash.com/photo-1593142871910-2a967580ecdc?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTQ4OTIyMDc&ixlib=rb-1.2.1&q=80");
   position: absolute;
   top: 65px;
   width: 100%;
   max-width: 100vw;
   height: 100%;
   max-height: 100vh;
   background-size: cover;
   z-index: -1;
 }
 
 .one:hover {
   color: #ff1100;
   text-decoration: underline;
 }
 
 .two:hover {
   color: #f1e432;
   text-decoration: underline;
 }
 
 .three:hover {
   color: #29fd39;
   text-decoration: underline;
 }